
@{
    ViewBag.titre = "Accueil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
</head>
<body >

    <div class="alert alert-info" role="alert"></div>
    <h1 class="Centrage"> A C C U E I L </h1>
    <div class="alert alert-info" role="alert"></div>
    <h2 class="Centrage">Bienvenue</h2>
    
    @Html.Raw(ViewBag.Information)

    <div class="Centrage"> 

        <button onclick="document.location.href='@Url.Action("Index", controllerName:"Creation")'" type="button" class="btn btn-primary">Sondage.Nouveau();</a></button>

    </div>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>

