footer {
   position:absolute;
   bottom:0;
   width:100%;
}

.jumbotron{background-color: #A9E2F3;}

.Centrage{
    text-align:center;
    margin-bottom:10px;
	padding:15px
        
}

.result_1{
    background-color: aqua;
}

.result_2{
    background-color: yellow;
}

.result_3{
    background-color: red;
}

.result_4{
    background-color: orange;
}


